page-teams {
    .bg-team {
        background-image: url('../assets/img/teams.jpg');
        background-repeat: repeat;
        background-size: 100%;
        background-position: center; 
    }


}
