page-home {

    .bg-img {
        background-image: url('../assets/img/crop.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center; 
    }



    }
