page-drivers-2 {
    .drivers-img {
        background-image: url('../assets/img/drivers.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center; 
}
}