page-tracks {
    .tracks-img {
        background-image: url('../assets/img/tracks.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center; 
    }

}
 